<!DOCTYPE html>
<html lang="en">
{{ template "header" . }}
<body>
    {{ template "global-navigator" . }}
    <div class="container">
        <header>
            <h1>go-wiki</h1>
        </header>
        <article>
            <header>
                <h2>{{ .article.Title }}</h2>
                <p>posted on today {{.article.Created}}</p>
                <p>updated {{.article.Updated}}</p>
            </header>
            <div id="article">
                {{ .article.Body }}
            </div>
            {{ if LoggedIn .request}}
            <p><a href="/article/edit/{{.article.ID}}">edit this</a></p>
            {{end}}
        </article>
        <hr>
        {{ $temp := . }}
        {{range .comments}}

            <h3>{{ .Body }}</h3>
            <p><strong>Created: </strong>{{ .Created }}  <strong>Updated: </strong>{{ .Updated }}</p>
            <form action="/delete/comment" method="POST">
                {{ template "csrf-hidden" $temp }}
                <input type="hidden", name="id", value="{{ .ID }}">
                <input type="hidden", name="article_id", value="{{ $temp.article.ID }}">
                <button class="btn btn-danger" type="submit" value="Delete">Delete this comment</button>
            </form>
        <hr>
        {{ end }}
        <form action="/new/comment" method="POST">
            <h2>Comment</h2>
            {{ template "csrf-hidden" . }}
            <input type="hidden" name="id" value="{{.article.ID}}">
            <label for="body">Body</label>
            <textarea class="form-control" name="body" cols="30" rows="10"></textarea>
            <button class="btn btn-default text-right" type="submit" value="Update">Post</button>
        </form>
    {{ template "footer" .}}
    </div>
</body>
</html>
